__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/
*.egg
dist/
build/
wheels/
uv.lock

data/
.env
.venv/
.venv*/

*.xml
!templates/**/*.xml

.ruff_cache/
.pytest_cache/
.mypy_cache/

*.log
*.tmp
Thumbs.db
Desktop.ini
.DS_Store
